.page {
    padding: 40px;
    padding-top: 20px;
    display: flex;
    height: calc(100vh - 120px);
}

.header {
    padding-left: 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    .title {
        margin-top: 20px;
    }
}

.application {
    background-color: var(--learnz-white);
}