:root {
    --learnz-primary: #ff00aa;
    --learnz-accent: #f200ff;
    --learnz-white: #f0f0f0;
    --learnz-grey: #e0e0e0;
    --learnz-grey-dark: #b0b0b0;
    --learnz-black: #0f0f0f;
    --learnz-warn: #ff3c00;
    --learnz-correct: #88dd88;
    --learnz-incorrect: #ff7b7b;

    --learnz-light-primary: #ff00aa;
    --learnz-light-accent: #f200ff;
    --learnz-light-white: #f0f0f0;
    --learnz-light-grey: #e0e0e0;
    --learnz-light-grey-dark: #b0b0b0;
    --learnz-light-black: #0f0f0f;
    --learnz-light-warn: #ff3c00;
    --learnz-light-correct: #88dd88;
    --learnz-light-incorrect: #ff7b7b;

    --learnz-dark-primary: #ff00aa;
    --learnz-dark-accent: #f200ff;
    --learnz-dark-white: #0f0f0f;
    --learnz-dark-grey: #3f3f3f;
    --learnz-dark-grey-dark: #6f6f6f;
    --learnz-dark-black: #f0f0f0;
    --learnz-dark-warn: #ff3c00;
    --learnz-dark-correct: #88dd88;
    --learnz-dark-incorrect: #ff7b7b;
}