:root {
    // base
    --learnz-primary: #00214D;
    --learnz-accent: #00EBC7;
    --learnz-white: #EFFFFF;
    --learnz-grey: #F4F4F6;
    --learnz-grey-dark: #D3D3D9;
    --learnz-black: #000914;
    --learnz-warn: #FF5470;
    --learnz-correct: #88dd88;
    --learnz-incorrect: #ff7b7b;

    // lightmode
    --learnz-light-primary: #00214D;
    --learnz-light-accent: #00EBC7;
    --learnz-light-white: #EFFFFF;
    --learnz-light-grey: #F4F4F6;
    --learnz-light-grey-dark: #D3D3D9;
    --learnz-light-black: #000914;
    --learnz-light-warn: #FF5470;
    --learnz-light-correct: #88dd88;
    --learnz-light-incorrect: #ff7b7b;

    // darkmode
    --learnz-dark-primary: #99C5FF;
    --learnz-dark-accent: #467A56;
    --learnz-dark-white: #1d1d1d;
    --learnz-dark-grey: #282828;
    --learnz-dark-grey-dark: #363636;
    --learnz-dark-black: #F2F6FF;
    --learnz-dark-warn: #A14A68;
    --learnz-dark-correct: #88dd88;
    --learnz-dark-incorrect: #ff7b7b;
}