$learnz-primary-palette: (
    50 : #ffe0f5,
    100 : #ffb3e6,
    200 : #ff80d5,
    300 : #ff4dc4,
    400 : #ff26b7,
    500 : #ff00aa,
    600 : #ff00a3,
    700 : #ff0099,
    800 : #ff0090,
    900 : #ff007f,
    A100 : #ffffff,
    A200 : #fff2f8,
    A400 : #ffbfdc,
    A700 : #ffa6cd,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$learnz-accent-palette: (
    50 : #fde0ff,
    100 : #fbb3ff,
    200 : #f980ff,
    300 : #f64dff,
    400 : #f426ff,
    500 : #f200ff,
    600 : #f000ff,
    700 : #ee00ff,
    800 : #ec00ff,
    900 : #e800ff,
    A100 : #ffffff,
    A200 : #fef2ff,
    A400 : #f9bfff,
    A700 : #f6a6ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$learnz-warn-palette: (
    50 : #ffe8e0,
    100 : #ffc5b3,
    200 : #ff9e80,
    300 : #ff774d,
    400 : #ff5926,
    500 : #ff3c00,
    600 : #ff3600,
    700 : #ff2e00,
    800 : #ff2700,
    900 : #ff1a00,
    A100 : #ffffff,
    A200 : #fff3f2,
    A400 : #ffc3bf,
    A700 : #ffaba6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);