$learnz-primary-palette: (
        50 : #e0e4ea,
        100 : #b3bcca,
        200 : #8090a6,
        300 : #4d6482,
        400 : #264268,
        500 : var(--learnz-light-primary),
        600 : #001d46,
        700 : #00183d,
        800 : #001434,
        900 : #000b25,
        A100 : #607cff,
        A200 : #2d52ff,
        A400 : #002bf9,
        A700 : #0027e0,
        contrast: (
                50 : var(--learnz-light-black),
                100 : var(--learnz-light-black),
                200 : var(--learnz-light-black),
                300 : var(--learnz-light-black),
                400 : var(--learnz-light-white),
                500 : var(--learnz-light-white),
                600 : var(--learnz-light-white),
                700 : var(--learnz-light-white),
                800 : var(--learnz-light-white),
                900 : var(--learnz-light-white),
                A100 : var(--learnz-light-black),
                A200 : var(--learnz-light-white),
                A400 : var(--learnz-light-white),
                A700 : var(--learnz-light-white),
        )
);

$learnz-accent-palette: (
        50 : #e0fdf8,
        100 : #b3f9ee,
        200 : #80f5e3,
        300 : #4df1d8,
        400 : #26eecf,
        500 : var(--learnz-light-accent),
        600 : #00e9c1,
        700 : #00e5ba,
        800 : #00e2b3,
        900 : #00dda6,
        A100 : #ffffff,
        A200 : #d1fff2,
        A400 : #9effe4,
        A700 : #85ffdc,
        contrast: (
                50 : var(--learnz-light-black),
                100 : var(--learnz-light-black),
                200 : var(--learnz-light-black),
                300 : var(--learnz-light-black),
                400 : var(--learnz-light-black),
                500 : var(--learnz-light-black),
                600 : var(--learnz-light-black),
                700 : var(--learnz-light-black),
                800 : var(--learnz-light-black),
                900 : var(--learnz-light-black),
                A100 : var(--learnz-light-black),
                A200 : var(--learnz-light-black),
                A400 : var(--learnz-light-black),
                A700 : var(--learnz-light-black),
        )
);

$learnz-warn-palette: (
        50 : #ffeaee,
        100 : #ffccd4,
        200 : #ffaab8,
        300 : #ff879b,
        400 : #ff6e85,
        500 : var(--learnz-light-warn),
        600 : #ff4d68,
        700 : #ff435d,
        800 : #ff3a53,
        900 : #ff2941,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffd6da,
        A700 : #ffbdc3,
        contrast: (
                50 : var(--learnz-light-black),
                100 : var(--learnz-light-black),
                200 : var(--learnz-light-black),
                300 : var(--learnz-light-black),
                400 : var(--learnz-light-black),
                500 : var(--learnz-light-white),
                600 : var(--learnz-light-white),
                700 : var(--learnz-light-white),
                800 : var(--learnz-light-white),
                900 : var(--learnz-light-white),
                A100 : var(--learnz-light-black),
                A200 : var(--learnz-light-black),
                A400 : var(--learnz-light-black),
                A700 : var(--learnz-light-black),
        )
);