<div class="file-upload">
    <div *ngIf="_filePath; else fileUpload">
        <button mat-flat-button color="accent" type="button" (click)="downloadFile()">
            {{ !_externalFilename ? ('fileUpload.file' | translate) : _externalFilename }}
        </button>
        <button mat-icon-button class="space" (click)="removeFile()">
            <mat-icon>delete</mat-icon>
        </button>
    </div>
    <ng-template #fileUpload>
        <input type="file" #file class="hidden" (change)="uploadFile(file.files)" [accept]="fileTypes">
        <button mat-flat-button color="accent" type="button" (click)="file.click()">{{ ('fileUpload.uploadFile' | translate) + (translationKey ? ' ' + (translationKey | translate) : '') }}</button>
    </ng-template>
</div>