<div class="file-upload">
    <div *ngIf="_filePath; else fileUpload">
        <button mat-flat-button color="secondary" type="button" (click)="downloadFile()">
            {{ !_externalFileName ? ('fileUpload.file' | translate) : _externalFileName }}
        </button>
        <button mat-icon-button class="space" (click)="removeFile()">
            <mat-icon>delete</mat-icon>
        </button>
    </div>
    <ng-template #fileUpload>
        <input type="file" #file class="hidden" (change)="uploadFile(file.files)" [accept]="fileTypes">
        <button mat-flat-button color="secondary" type="button" (click)="file.click()">{{ ('fileUpload.uploadFile' | translate) + (translationKey ? ' ' + (translationKey | translate) : '') }}</button>
    </ng-template>
    <div *ngIf="progress > 0" class="center space">
        <div class="space">{{ progress }}%</div>
    </div>
    <div *ngIf="message" class="center space">
        <div>{{ message | translate }}</div>
    </div>
</div>