.header {
    border: 1px solid var(--learnz-black);
}
.answered {
    border: 1px solid var(--learnz-incorrect);
}
.answered.answered-correct {
    border: 1px solid var(--learnz-correct);
}
.question-card {
    margin-top: 16px;
    display: grid;
    grid-template-columns: 40px 1fr 1fr 1fr;
    gap: 16px;
}