<div *ngIf="challenge$ | async as challenge">
    <div class="top">
        <h2>{{ challenge.name }}</h2>
        <div *ngIf="challenge.isOwner && getState(challenge.state) !== 'Ended'">
            <button mat-button color="primary" (click)="challengeNextFlow()">{{ 'challenge.proceed' | translate }}</button>
        </div>
        <div *ngIf="getState(challenge.state) === 'Ended'">
            <button mat-button color="primary" (click)="goBack()">{{ 'framework.back' | translate }}</button>
        </div>
    </div>
    <div [ngSwitch]="getState(challenge.state)">
        <div *ngSwitchCase="'BeforeGame'">
            <h3>{{ 'challenge.waitingForPlayersToJoin' | translate }}</h3>
            <div>{{ 'challenge.currently' | translate }} {{ getLength(challenge.result) }} {{ 'challenge.players' | translate }}</div>
            <div class="players">
                <mat-card *ngFor="let player of challenge.result">
                    <div>{{ player.username }}</div>
                </mat-card>
            </div>
        </div>
        <div *ngSwitchCase="'Question'">
            <app-general-question *ngIf="challenge.question != null" [question]="challenge.question" [challengeId]="this.challengeId" [disabled]="challenge.isOwner" (answered)="challengeAnswer($event)"></app-general-question>
            <div *ngIf="heartBeat$ | async">
                {{ secondsLeft(challenge.questionCloses) }}
            </div>
        </div>
        <div *ngSwitchCase="'Answer'">
            <h3>{{ 'challenge.waitingForPlayersToAnswer' | translate }}</h3>
        </div>
        <div *ngSwitchCase="'Result'">
            <div *ngIf="challenge.lastQuestionPoint != null">
                <h3 *ngIf="wasRight(challenge.lastQuestionPoint); else wasWrong">{{ 'challenge.wasRight' | translate }}</h3>
                <ng-template #wasWrong>
                    <h3>{{ 'challenge.wasWrong' | translate }}</h3>
                </ng-template>
                <div>{{ 'challenge.youScored' | translate }}: {{ challenge.lastQuestionPoint }}</div>
                <div>{{ 'challenge.correctAnswerWas' | translate }}: {{ challenge.lastQuestionCorrectAnswer ?? '' }}</div>
            </div>
            <div *ngFor="let user of challenge.result">
                <div>{{ getPlace(user, challenge.result) }}</div>
                <div>{{ user.username }}</div>
                <div>{{ user.points }}</div>
            </div>
        </div>
        <div *ngSwitchCase="'Ended'">
            <h3>{{ 'challenge.ended' | translate }}</h3>
            <div>{{ 'challenge.finalScores' | translate }}</div>
            <div *ngFor="let user of challenge.result">
                <div>{{ getPlace(user, challenge.result) }}</div>
                <div>{{ user.username }}</div>
                <div>{{ user.points }}</div>
            </div>
        </div>
    </div>
</div>