<mat-dialog-content [formGroup]="formGroup">
    <h1>{{ 'settings.changePassword' | translate }}</h1>
    <mat-form-field>
        <mat-label>{{ 'settings.oldPassword' | translate }}</mat-label>
        <input matInput type="password" formControlName="oldPassword">
    </mat-form-field>
    <mat-form-field>
        <mat-label>{{ 'settings.newPassword' | translate }}</mat-label>
        <input matInput type="password" formControlName="newPassword">
    </mat-form-field>
    <mat-form-field>
        <mat-label>{{ 'settings.confirmPassword' | translate }}</mat-label>
        <input matInput type="password" formControlName="confirmPassword">
    </mat-form-field>
    <div class="buttons">
        <button mat-button (click)="close()">{{ 'framework.close' | translate }}</button>
        <button mat-button color="primary" [disabled]="!formGroup.valid" (click)="save()">{{ 'framework.save' | translate }}</button>
    </div>
</mat-dialog-content>