form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
    max-width: 500px;
    padding-bottom: 32px;
    .slide-wrapper {
        margin-bottom: 8px;
        display: block;
        width: calc(100vw - 80px);
        max-width: 500px;
    }
}