<div>
    <div>
        <div>{{ translateSubject(set!.subjectMain) | translate }}</div>
        <div *ngIf="set!.subjectSecond">{{ translateSubject(set!.subjectSecond) | translate }}</div>
    </div>
    <div>
        {{ set!.name }}
        {{ set!.description }}
    </div>
    <div>
        {{ set!.numberOfQuestions }} {{ 'create.items' | translate }}
        {{ 'create.createdBy' | translate }}: {{ set!.owner }}
    </div>
    <button *ngIf="set!.usable" type="button" mat-flat-button color="primary">
        {{ 'learn.learn' }}
    </button>
    <button *ngIf="set!.usable" type="button" mat-flat-button color="primary">
        {{ 'test.test' }}
    </button>
    <button *ngIf="set!.usable" type="button" mat-flat-button color="primary">
        {{ 'challenge.challenge' }}
    </button>
    <button *ngIf="set!.editable" mat-icon-button>
        <mat-icon>edit</mat-icon>
    </button>
    <button *ngIf="set!.usable" mat-icon-button>
        <mat-icon>remove_red_eye</mat-icon>
    </button>
</div>