@use '@angular/material' as mat;
@import './styles/colors';
@import './styles/mat-color-palettes';
@include mat.core();

$mat-learnz-primary: mat.define-palette($learnz-primary-palette);
$mat-learnz-accent: mat.define-palette($learnz-accent-palette);
$mat-learnz-warn: mat.define-palette($learnz-warn-palette);
$learnz-theme: mat.define-light-theme((
  color: (
    primary: $mat-learnz-primary,
    accent: $mat-learnz-accent,
    warn: $mat-learnz-warn,
  )
));
@include mat.all-component-themes($learnz-theme);

$mat-learnz-dark-primary: mat.define-palette($learnz-primary-palette);
$mat-learnz-dark-accent: mat.define-palette($learnz-accent-palette);
$mat-learnz-dark-warn: mat.define-palette($learnz-warn-palette);
$learnz-dark-theme: mat.define-dark-theme((
  color: (
    primary: $mat-learnz-dark-primary,
    accent: $mat-learnz-dark-accent,
    warn: $mat-learnz-dark-warn,
  )
));
.darkTheme {
  @include mat.all-component-themes($learnz-dark-theme);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// toast
.toast-container .ngx-toastr {
  padding: 0 !important;
}

// scrollbar
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: var(--learnz-white);
}
::-webkit-scrollbar-thumb {
  background: var(--learnz-black);
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--learnz-grey);
}
::-webkit-scrollbar-thumb:active {
  background: var(--learnz-grey-dark);
}