<div *ngIf="info$ | async as info">
    <div *ngIf="getActivePage(info.pages) as activePage" class="header">
        <h2>{{ info.name }}</h2>
        <mat-slide-toggle *ngIf="activePage.editable" [formControl]="formControlEditMode" class="slide" (change)="changeEditMode($event.checked)">{{ 'draw.editMode' | translate }}</mat-slide-toggle>
    </div>
    <div class="site">
        <div *ngIf="getActivePage(info.pages) as activePage" class="header">
            <canvas #canvas [ngClass]="{ 'active-page': true, 'hidden': !(editMode$ | async) }"></canvas>
            <img *ngIf="!(editMode$ | async)" [src]="activePage.dataUrl" class="active-page">
        </div>
        <div class="page-collection">
            <button *ngIf="info.editable" mat-flat-button color="primary" (click)="createPage()" class="add-page">{{ 'draw.addPage' | translate }}</button>
            <div *ngFor="let page of info.pages" class="page">
                <div [ngClass]="{ 'active': pageId$.value === page.pageId, 'drawing': true, 'pointer': true }" (click)="openPage(page.pageId)">
                    <img *ngIf="page.dataUrl; else emptyImage" [src]="page.dataUrl" class="drawing-image">
                    <ng-template #emptyImage>
                        <div class="drawing-image empty-image">
                            <div>{{ 'draw.empty' | translate }}</div>
                        </div>
                    </ng-template>
                </div>
                <div class="action-bar">
                    <div class="action">
                        <mat-icon *ngIf="page.editable" (click)="editPage(page.pageId)" class="pointer">edit</mat-icon>
                    </div>
                    <div class="action">
                        <mat-icon *ngIf="page.deletable" (click)="deletePage(page.pageId, info.pages)" class="pointer">delete</mat-icon>
                    </div>
                    <div class="action profile-image">
                        <img *ngIf="!!page.editingPersonName && !!page.editingPersonProfileImagePath" [src]="page.editingPersonProfileImagePath" [matTooltip]="page.editingPersonName">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>